$body-bg: #000;
$body-color: #707070;
$salmon: #f86c6c;
$cobalt: #2A1E74;
$battleship-grey: #767980;
$coral: #f55249;
$ice-blue: #f8fcff;
$lightish-blue: #377dff;
$blueberry: #3e468f;
$warm-grey: #707070;
$section-padding: 60px 0;

:root {
  --title: 24px;
  --title-lg: 24px;
  --title-md: 20px;
  --title-sm: 18px;
  --title-xs: 16px;

  @media (max-width: 1199.98px) {
    --title: 20px;
    --title-lg: 20px;
    --title-md: 18px;
    --title-sm: 16px;
    --title-xs: 14px;
  }
}